<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel='stylesheet' href='/css/style.css'>
</head>
<body>
<div class="wrapper">
    <p class="main-title"><%= title %></p>
    
    <% if (typeof emailExists !== 'undefined') { %>
        <p class="error"><%= emailExists %></p>
    <% } %>
    
    <form action="/register" method="post" class="board-form">
        <span class="label">ユーザー名</span><input type="text" name="user_name" class="input" required><br>
        <br>
        <span class="label">Eメール</span><input type="email" name="email" class="input" required><br>
        <br>
        <span class="label">パスワード</span><input type="password" name="password" class="input" required><br>
        <br>
        <button type="submit" class="submit">新規会員登録</button>
    </form>
    
    <a href="/" class="btn">トップへもどる</a>
</div>
</body>
</html>